body {
    font: 100% Tahoma, Verdana, sans-serif;
    background-color: White;
    color: #333333;
    padding: 0px;
    margin: 0px;
}

a {
    color: #333333;
}

a:visited {
    color: #333333;
}

ul.home_reminder_list {
    display: block;
    background-color: #eee;
    border: 1px solid Black;
}

ul.home_reminder_list li {
    display: block;
}

.loginbar {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 0.5em;
}

.actions {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    background-color: #99f;
    padding: 0;
}

.actions ul {
    list-style: none;
    margin: 0.3em;
    padding: 0.3em;
}

.actions li {
    float: left;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
}

.actions li a {
    display: block;
    border: 1px solid Black;
    background-color: #77f;
    padding: 0.5em;
    text-decoration: none;
}

.actions li a:hover {
    background-color: #fff;
}

div.debug {
    background-color: #ddd;
    border: 1px solid Black;
}

.cnt {
    padding: 0.5em;
    padding-top: 3.5em;
}

.message {
    display: block;
    width: 50%;
    background-color: #ffd;
    color: #080;
    border: 1px solid #080;
    text-align: center;
}

.error {
    display: block;
    width: 50%;
    background-color: #ffd;
    color: #800;
    border: 1px solid #800;
    text-align: center;
}

.weekday {
    width: 3em;
    display: block;
    float: left;
}

.date {
    width: 4em;
    display: block;
    float: left;
};