<html><body>
<link href="/css/home.css" type="text/css" rel="stylesheet"></link>
<h1>Welcome, {{user}}</h1>
<div class="loginbar">
<ul>
<li><b>{{user}}</b>
<li><a href="{{logouturl}}">Logout</a>
</ul>
</div>

<p>All reminders ({{reminders|length}})</p>
{% if reminders %}
<ul class="reminder_list">
  {% regroup reminders by month as grouped %}
  {% for month in grouped %}
    <li class="reminder_month">{{month.grouper}}
      <ul class="reminder_month_list">
      {% for rem in month.list %}
        <li class="reminder_item">{{rem.day|default:""}} 
	  -- {{rem.note|default:""}}
	     {% if rem.year %} ({{rem.year}}) {% endif %}
	     {% if rem.hour %} @{{rem.hour}}.00 GMT {% endif %}
      {% endfor %}
      </ul>
  {% endfor %}
</ul>
{% else %}
<p>You have no reminders set. <a href="/add">Add one!</a></p>
{% endif %}
</body></html>
