{% extends "site.html" %}

{% block content %}
<h1>Welcome, {{user}}</h1>

<p>Upcoming birthdays:</p>
{% if reminders %}
<ul class="home_reminder_list">
  {% for rem in reminders %}
  <li class="reminder_item"><span class="weekday">{{rem.weekday}}</span>
                            <span class="date">{{rem.month}} {{rem.day}}</span>
	  -- {{rem.note|default:""}}
	     {% if rem.year %} ({{rem.year}}) {% endif %}
  {% endfor %}
</ul>
{% else %}
<p>You have no upcoming reminders. <a href="/manage">See all!</a></p>
{% endif %}

{% endblock %}
