{% extends "site.html" %}

{% block content %}

<h1>Welcome, {{user}}</h1>

{% if message %}
<div class = "message">{{message}}</dev>
{% endif %}

<p>All reminders ({{reminders|length}})</p>
{% if reminders %}
<ul class="reminder_list">
  {% regroup reminders by month as grouped %}
  {% for month in grouped %}
    <li class="reminder_month">{{month.grouper}}
      <ul class="reminder_month_list">
      {% for rem in month.list %}
        <li class="reminder_item">{{rem.day|default:""}} 
	  -- {{rem.note|default:""}}
	     {% if rem.year %} ({{rem.year}}) {% endif %}
	     <a href="/add?id={{rem.id}}" class="manage_edit">[edit]</a>
	     <a href="/manage?del={{rem.id}}" class="manage_del">[X]</a>
      {% endfor %}
      </ul>
  {% endfor %}
</ul>
<a href="/export">Download as CSV file</a>
{% else %}
<p>You have no reminders set. <a href="/add">Add one!</a></p>
{% endif %}

{% endblock %}

